---
title:      "A week in Valencia"
created_at: 2019-07-05 09:52:15 UTC
author:     Marco Martin
layout:     post
---
<figure class="wp-block-image"><img src="https://notmart.org/blog/wp-content/uploads/2019/07/IMG_20190624_194936_HDR-1024x768.jpg" alt="" class="wp-image-6646" srcset="https://notmart.org/blog/wp-content/uploads/2019/07/IMG_20190624_194936_HDR-1024x768.jpg 1024w, https://notmart.org/blog/wp-content/uploads/2019/07/IMG_20190624_194936_HDR-300x225.jpg 300w, https://notmart.org/blog/wp-content/uploads/2019/07/IMG_20190624_194936_HDR-768x576.jpg 768w, https://notmart.org/blog/wp-content/uploads/2019/07/IMG_20190624_194936_HDR-624x468.jpg 624w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>



<p>From 19th to 25th of June, all the Plasma team gathered in Valencia, graciously hosted by the <a href="https://slimbook.es/">Slimbook</a> people in their office. This was a special sprint, as it was co-located with the Usability sprint together with some VDG members. While some of the time each team was occupied in their own discussions, there were a big margin of overlap, allowing us to have a lot of discussions about the design and usability of our beloved Plasma desktop shell.</p>



<p>We now have plans in the coming months for several improvements across the board, including further improvements on the new shiny notification framework by Kai Uwe.</p>



<p>Also, we talked (and worked on) plans for further improving our Wayland support, including middle mouse button clipboard, and screen rotation for phone, tablets and 2 in 1 laptops).</p>



<p>On my end, a big part of this sprint was dedicated to an encompassing plan to refactor and redesign how desktop plasmoids work and are managed. I had there both UI discussions with the VDG and loong coding sessions on it.</p>



<p>The Desktop/FolderView containments use a big infrastructure written in Javascript which has some problems and isn&#8217;t touched much since a lot of time.</p>



<p>Some time ago I set myself the task of making the management of desktop plasmoids more touchscreen-friendly, so i started modifying that code, until.. I started to design a complete reimplementation written in C++ <img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f642.png" alt="🙂" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>



<p>This new implementation is much more robust, is faster and a bit leaner on the memory. Most important, is now a separate QML plugin, so is not anymore an implementation internal in the standard desktop, but if somebody wants to write his/her own containment for personalized plasma shells (for instance for a particular embedded device which is not a traditional desktop/laptop: we want plasma more and more usable as a set of construction blocks for the main UI of any kind of device).</p>



<p>In fact, it&#8217;s planned for Plasma Mobile to use the same layout manager component, to make the user experience &#8220;similar but different&#8221; and have less code duplication, while maintaining the UI very distinct between the two very different device types.</p>



<figure><iframe src="https://www.youtube.com/embed/sk2ElfY-iBM" allowfullscreen="" width="560" height="315"></iframe></figure>



<p>UI-wise in the desktop it doesn&#8217;t change much for now. the most notable difference is visible resize handles that make managing the layout and moving/resizing the plasmsoids much easier and more intuitive. Especially with touchscreen: now while manipulating plasmoids via touch, the resize handles become way bigger, and is possible to move and resize via a pinch gesture as well.</p>



<p>Lastly (for now!) the behavior during screen resolution switch improved a lot: if you connect a projector with a smaller resolution that relayouts your desktop, or play a fullscreen game at a tiny resolution, when the resolution is restored, everything gets back to normal, no more applets all over the place after changing resolution <img src="https://s.w.org/images/core/emoji/12.0.0-1/72x72/1f609.png" alt="😉" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>



<p>All of this should make it into Plasma 5.17.</p>