<!DOCTYPE html>
<html>

	{% include screenshots-head.html %}

	<body class="home page-template-default page page-id-29 wide siteorigin-panels siteorigin-panels-before-js siteorigin-panels-home mega-menu-primary">

		{% include header.html %}
		<div id="content">

			<div class="quest-row site-content">
				<div class="container">
					<div class="row">

						<div id="primary" class="content-area single col-md-12">
							<main id="main" class="site-main" role="main">

								<article id="post-29" class="post-29 page type-page status-publish hentry">
									<header class="entry-header">

										<h1 class="post-title entry-title"><a href="index.html" rel="bookmark">Home</a></h1>
									</header>
                                    <div id="lightSliderParent">
                                        {{content}}
                                    </div>
									<footer class="entry-footer">
									</footer>
									<!-- .entry-footer -->
								</article>
								<!-- #post-## -->

							</main>
							<!-- #main -->
						</div>
						<!-- #primary -->

					</div>
					<!-- .row -->
				</div>
				<!-- .container -->
			</div>
			<!-- .quest-row -->
		</div>
		<!-- #content -->
		{% include footer.html %}

		<!-- Full width for the index page -->
		<script type='text/javascript'>
			var panelsStyles = {"fullContainer":"body"};
		</script>
		<script type='text/javascript' src='/plugins/siteorigin-panels/js/styling-2516.min.js'></script>

		<!-- Open panel menus on hover -->
		<script type='text/javascript' src='/js/hoverIntent.min.js'></script>
		<script type='text/javascript'>
			var megamenu = {"timeout":"300","interval":"100"};
		</script>

		<!-- back to top arrow -->
		<a href="#0" class="cd-top"><i class="fa fa-angle-up"></i></a>

		<!-- Mobile menu -->
		<script type='text/javascript' src='/plugins/megamenu/js/maxmegamenu.js'></script>
		
        <!-- #lightSlider -->
        <script type="text/javascript">
        $(document).ready(function() {
            $("#lightSliderParent").children("ul").lightSlider({ auto: true, loop: true, item: $(window).width() > 767 ? 3 : 1, slideMargin:15, speed: 600, pause: 3000 });
        });
        </script>

	</body>
</html>
